/*----------  List Styling  ----------*/

ul {
    list-style: disc;
}

/*----------  Anchor Styling  ----------*/

a:not(.card-body, .nav-anchor, .nav-link) {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/*----------  Blockquote Styling  ----------*/

blockquote {
    padding-left: 1rem;
    color: var(--bs-secondary-color);
    border-left: 4px solid var(--bs-border-color);
}
